/* app css stylesheet */

body
{
	background-image:url("bg.gif");
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center
{
	position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
	
		margin: auto;
		top: 50%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute:
    top: 50%;
}

.streched
{
	display: table-cell;
}

.playerbox
{
	margin: 2.5% 5%;
}

.transparentbox
{
	opacity: 0.4;
}

.nonopaque
{
	opacity: 1;
}