  <!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron transparentbox">
  <div class="container">
    <h1 class="wrapper nonopaque" ng-model="playername">{{players[index].name}}</h1>        
  </div>
</div>
	
<div class="wrapper">
	<a class="button btn btn-lg btn-success btn-block" ng-click="addVote(true)" role="button">Yea</a>	
</div>	
<br>
<div class="wrapper">	
	<a class="button btn btn-lg btn-danger btn-block" ng-click="addVote(false)" role="button">Nay</a>
</div>